DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=emogen

KAFKA_BOOTSTRAP_SERVERS=localhost:29092
KAFKA_EMOJI_TOPIC=emogen-crawler-topic
KAFKA_GROUP_ID=emogen-crawler-group

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=emojis
MINIO_SECURE=false

SPARK_APP_NAME=emogen-crawler
SPARK_MASTER=local[*]
SPARK_CONFIGS={"spark.executor.memory":"2g","spark.driver.memory":"1g"}
